* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: darkgreen;
  margin: 30px;
}
